a:link, a:visited, a:hover, a:active {
 color: black;
 background-color: transparent;
 text-decoration: none;
}
html {
 margin: 0;
 padding: 0;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
}
