a:link, a:visited, a:hover, a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
html {
    margin: 0;
    height: 100%;
    font-family: "Times New Roman", Times, serif;
}
body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
