a:link, a:visited, a:hover, a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
